.fullpage-slide {
  overflow: hidden;

  &-back-img {
    position: absolute;
    top: 0;
  }
}

.heading {
  opacity: 0;
  transform: translateY(20%);
  transition: 0.7s all cubic-bezier(0, 0, 0.2, 1);
}

.paragraph {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.7s all;
  transition-delay: 0.3s;
}

.white-tone {
  .heading, .paragraph {
    color: $black;
  }
}

.black-tone {
  background: $black;
}

.is-current {
  .heading {
    transform: translateY(0);
    opacity: 1;
  }

  .paragraph {
    transform: translateY(0);
    opacity: 1;
  }

  // TODO: delay paragraph
}
