.side-content {
  display: block;
  @include full-pos;
  z-index: 100;

  .side-dimmed {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
  }

  .container {
    position: relative;
    // z-index: 10;
    // top: 100%;
    min-height: 100vh;
    background: $white;
    // transition: 0.5s all cubic-bezier(0, 0, 0.2, 1);
    padding: 4%;
  }

  .title {
    margin-top: 1.4em;
    margin-bottom: 1em;
    font-weight: lighter;
    font-size: 32px;
    line-height: 1.5;
  }

  .desc {
    margin-top: 2rem;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.5;
  }

  .scripture {
    margin-top: 2em;
    font-size: 14px;
    line-height: 1.5;

    &::before, &::after {
      font-family: $en;
      font-size: 16px;
    }

    &::before {
      content: '\201c';
    }

    &::after {
      content: '\201d';
    }
  }

  .verse {
    display: block;
    font-weight: lighter;
    font-size: 12px;
    text-align: right;

    &::before {
      content: '-';
    }
  }

}

.close-side--btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  border: none;
  width: 80px;
  height: 40px;
  background: transparent;

  z-index: 10;
}

.close-side--btn-area {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: $black;

  transition: all 0.5s;

  &::before {
    content: '+';
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: $white;
    transition: all 0.5s ease;
  }
}

.close-side--btn-content {
  position: fixed;
  bottom: 31px;
  left: 50%;
  // width: 60px;
  transform: translateX(50%);
  opacity: 0;
  color: $black;

  transition: all 0.5s;
}

.is-modal {
  .close-side--btn-area {
    width: 80px;

    &::before {
      left: 10%;
      transform: translateX(0%) rotate(-45deg);
    }
  }

  .close-side--btn-content {
    transform: translateX(-30%);
    opacity: 1;
    color: $white;
  }
}
