.heading {
  position: relative;
  font-size: 30px;
  color: $white;
  font-weight: lighter;
  line-height: 1.2;
  @include break-word
}

.paragraph {
  position: relative;
  color: $white;
  font-size: 17px;
  @include break-word
}
