.wrap {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.fullpage-wrapper {
  // transition: all 0.8s ease;
}

.fullpage-slide {
  position: relative;
  overflow: hidden;
}

.l-wrap {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.is-modal {
  .wrap {
    position: relative;
  }

  .fullpage-wrapper {
    position: absolute;
  }

  .side-content {
    position: relative;
  }
}
